body{

background:#111;

font-family:Arial;

color:white;

margin:0;

}

.container{

width:900px;

margin:40px auto;

}

#dropZone{

border:3px dashed #666;

padding:30px;

text-align:center;

border-radius:15px;

}

#preview{

max-width:100%;

margin-top:20px;

display:none;

}

textarea{

width:100%;

height:350px;

margin-top:20px;

background:#222;

color:#fff;

padding:15px;

font-size:16px;

}

button{

margin-top:20px;

padding:15px 30px;

font-size:18px;

cursor:pointer;

}